*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main{}
#header{
  height: 46px;
  background-color: #000;


}
#nav li{
  display: inline-block;

}

#nav li a{
  color:  #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
}

#nav li:hover a{
  color: #000;
  background-color: #ccc;
  display: inline-block;
}

#nav .subnav li{
  display: none;
}
#slider{}
#content{}
#footer{}
